
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Título centralizado */
header h1 {
    text-align: center;
    color: #ec1919;
    margin-bottom: 40px;
}

/* Container dos cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
 
}

/* Estilo dos cards */
.card {
    background-color: #000000;
    border: 1px solid #ff0000;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.card h2 {
    color: #2980b9;
    margin-bottom: 10px;
}

/* Respostas curtas */
.response-short {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

/* Respostas completas */
.response-full {
    display: none; /* Inicialmente oculto */
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
}

/* Botão para mostrar mais */
.reveal-button {
    background-color: #2980b9;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.reveal-button:hover {
    background-color: #3498db;
}

/* Efeito de hover nos cards */
.card:hover {
    transform: translateY(-10px);
}
.card-container {

    width: 500px;
    display: flex;
    justify-content: center; /* Centraliza os cartões horizontalmente */
    flex-wrap: wrap; /* Permite que os cartões quebrem para a próxima linha */
    margin: 20px 0; /* Margem superior e inferior */
    width: 600px;
}    /* Aumenta a largura do cartão para 500px */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/55/01/60/5501609ee45d514d1f2c4a63502045e2.gif');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff; /* Texto branco para contraste com a imagem de fundo */
    line-height: 1.6;
    padding: 20px;
}
